body {
    font-family: arial,arial,helvetica;
    background-image: url(blbkgnd.gif);
}
body {
    color: #000000;
    background-color: #FFFFFF;
}
a:visited {
    color: #990000;
}
a:link {
    color: #999999;
}
a:active {
    color: #666666;
}