a:link{
color:#EBB66C;
}
a:visited{
color:#A68A55;
}
a:active{
color:#FFFFFF;
}
body{
color:#FFFFFF;
background-color:#38391F;
}
h1{
color:#FFFFFF;
}
h2, marquee{
color:#FFFFFF;
}
h3{
color:#FFFFFF;
}
h4{
color:#FFFFFF;
}
h5{
color:#FFFFFF;
}
h6{
color:#FFFFFF;
}
label, .MSTHEME-LABEL{
color:#FFFFFF;
}
FIELDSET{
border-color:#74501D;
color:#FFFFFF;
}
LEGEND{
color:#FFFFFF;
}
SELECT{
border-color:#C2C1A7;
color:#000000;
}
TABLE{
table-border-color-light:#FFFFFF;
table-border-color-dark:#FFFFFF;
border-color:#FFFFFF;
color:#FFFFFF;
}
CAPTION{
color:#FFFFFF;
}
TH{
color:#FFFFFF;
}
HR{
color:#74501D;
}
TD{
border-color:#FFFFFF;
}
