a:link{
color:#FFB135;
}
a:visited{
color:#B58834;
}
a:active{
color:#FFD335;
}
body{
color:#FFFFFF;
background-color:#3B3D00;
}
h1{
color:#E9D4D4;
}
h2, marquee{
color:#E9D4D4;
}
h3{
color:#E9D4D4;
}
h4{
color:#E9D4D4;
}
h5{
color:#E9D4D4;
}
h6{
color:#E9D4D4;
}
label, .MSTHEME-LABEL{
color:#E9D4D4;
}
FIELDSET{
border-color:#402F0F;
color:#FFFFFF;
}
LEGEND{
color:#E9D4D4;
}
SELECT{
border-color:#C2C1A7;
color:#000000;
}
TABLE{
table-border-color-light:#FFFFFF;
table-border-color-dark:#FFFFFF;
border-color:#FFFFFF;
color:#FFFFFF;
}
CAPTION{
color:#E9D4D4;
}
TH{
color:#E9D4D4;
}
HR{
color:#6E470F;
}
TD{
border-color:#FFFFFF;
}
