/* While yes, Frontpage 2003 is too lazy to read it, as it was made to read Micro$oft's FP2K3 CSS anwyays, We are NOT going to fix the issue. -PF94 */

body
{
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "verdana", "arial", "sans-serif"; /* Google fonts are listed so that Android/Chromebook users won't see Serif text. */
	background-repeat: repeat-x;
	background-color: rgb(53, 53, 53); /* this was overlooked for some reason lol, this caused white-void issue for a while */
	margin-top: 20px;
	margin-left: 20px;
	color: #ffffff;
}
body.tabInfo
{
	background-image: none;
	background-color: #F4F4F4;
}
a
{
	color: rgb(19,112,171);
	font-size: 1em;
	font-weight: normal;
	text-decoration: none;
	margin-left: 0;
	vertical-align: top;
}
a:link, a:visited
{
	color: rgb(5, 159, 255);
	text-decoration: none;
	vertical-align: top;
}
a:hover
{
	color: rgb(10, 123, 204);
	text-decoration: underline;
}
p
{
	font-size: 1.2em;
}
h1 /* used for Title */
{
	color: #FFF;
	font-size: 2.405em;
	font-weight: bold;
	vertical-align:bottom;
	margin-top: 7px;
	margin-bottom: 4px;
}
h2 /* used for Heading in Main Body */
{
	font-size: 0.9em;
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 1px;
}
h3 /* used for text in main body */
{
	font-size: 0.9em;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 1px;
}

h4 /* used for task links*/
{
	font-size: 0.9em;
	font-weight: normal;
	margin-top: 12px;
	margin-bottom: 1px;
}

h5 /* used for Heading in InfoBlock */
{
	font-size: 1em;
	font-weight: normal;
	margin-bottom: 0;
	margin-top: 1px;
	color: #575757;
}
.infoBlock
{
	padding-left: 25px;
	font-size: 0.9em;
	display: block;
	line-height: 1.1em;
	color: #575757;
}
ul, ol
{
	font-size: 0.9em;
	list-style-position: outside;
	margin-top: 1px;
	margin-bottom: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	line-height: 1.3em;
}
.divider
{
	border-bottom: #B6BCC6 1px solid;
}
