body {
  background-color: #191919;
}
#element1 {float:left;}
#element2 {padding-left : 20px;float:left;}
h1 {
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: verdana;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2 {
  color: orange;
  font-family: verdana;
}

p {
  color: white;
  font-family: verdana;
  font-size: 20px;
}

a:link {
  color: gray; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
    color: #FF0000;
    transition: color 0.25s ease;
}

a:active {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
