body {
    font-family: "trebuchet ms",arial,helvetica;
    background-image: url(bstrbk.gif);
    color: #000000;
    background-color: #FFFFFF;
}
a:link {
    color: #990000;
}
a:visited {
    color: #336699;
}
a:active {
    color: #666666;
}
