button {
	border: 0;
	display: inline-block;
}
a {
	display: inline-block;
}

/* Code for the button below is unused, don't remove it. */
.button1 {
	width: 119px;
    	height: 20px;
	background: url("index_files/subsites/icanttellyou.gif");
	background-repeat:no-repeat;
}
.button2 {
	width: 90px;
    	height: 20px;
	background: url("buttons/button20.gif");
	background-repeat:no-repeat;
}
.button2:hover {
	width: 90px;
    	height: 20px;
	background: url("buttons/button21.gif");
	background-repeat:no-repeat;
}
.button2:active {
	width: 90px;
    	height: 20px;
	background: url("buttons/button22.gif");
	background-repeat:no-repeat;
}
.button3 {
	width: 60px;
    	height: 20px;
	background: url("index_files/subsites/button1D.gif");
	background-repeat:no-repeat;
}
.button3:hover {
	width: 60px;
    	height: 20px;
	background: url("index_files/subsites/button1E.gif");
	background-repeat:no-repeat;
}
.button3:active {
	width: 60px;
    	height: 20px;
	background: url("index_files/subsites/button1F.gif");
	background-repeat:no-repeat;
}
.button4 {
	width: 74px;
    	height: 20px;
	background: url("index_files/subsites/buttoneper98.gif");
	background-repeat:no-repeat;
}
.button5 {
	width: 80px;
    	height: 21px;
	background: url("index_files/subsites/sdbutton.png");
	background-repeat:no-repeat;
}
.button6 {
	width: 65px;
    	height: 20px;
	background: url("index_files/subsites/chaosbutton.png");
	background-repeat:no-repeat;
}
.button7 {
	width: 90px;
    	height: 20px;
	background: url("index_files/subsites/kf9_btn.gif");
	background-repeat:no-repeat;
}
.button8 {
	width: 81px;
    	height: 20px;
	background: url("buttons/button17.gif");
	background-repeat:no-repeat;
}
.button8:hover {
	width: 81px;
    	height: 20px;
	background: url("buttons/button18.gif");
	background-repeat:no-repeat;
}
.button8:active {
	width: 81px;
    	height: 20px;
	background: url("buttons/button19.gif");
	background-repeat:no-repeat;
}
.button9 {
	width: 100px;
    	height: 20px;
	background: url("index_files/subsites/8745b.gif");
	background-repeat:no-repeat;
}
.button9:hover {
	width: 100px;
    	height: 20px;
	background: url("index_files/subsites/8745c.gif");
	background-repeat:no-repeat;
}
.button9:active {
	width: 100px;
    	height: 20px;
	background: url("index_files/subsites/8745d.gif");
	background-repeat:no-repeat;
}
.button10 {
	width: 119px;
    	height: 20px;
	background: url("index_files/subsites/spudpiggy.gif");
	background-repeat:no-repeat;
}
/* Code for the button below is unused, don't remove it. */
.button11 {
	width: 100px;
    	height: 20px;
	background: url("buttons/button12.gif");
	background-repeat:no-repeat;
}
.button11:hover {
	width: 100px;
    	height: 20px;
	background: url("buttons/button13.gif");
	background-repeat:no-repeat;
}
.button11:active {
	width: 100px;
    	height: 20px;
	background: url("buttons/button14.gif");
	background-repeat:no-repeat;
}
.button12 {
	width: 77px;
    	height: 20px;
	background: url("index_files/subsites/shadow.PNG");
	background-repeat:no-repeat;
}
.button13 {
	width: 65px;
    	height: 20px;
	background: url("index_files/subsites/ericaftereric.png");
	background-repeat:no-repeat;
}
.button14 {
	width: 100px;
    	height: 20px;
	background: url("buttons/button1.gif");
	background-repeat:no-repeat;
}
.button14:hover {
	width: 100px;
    	height: 20px;
	background: url("buttons/button2.gif");
	background-repeat:no-repeat;
}
.button14:active {
	width: 100px;
    	height: 20px;
	background: url("buttons/button3.gif");
	background-repeat:no-repeat;
}
.button15 {
	width: 100px;
    	height: 20px;
	background: url("buttons/button4.gif");
	background-repeat:no-repeat;
}
.button15:hover {
	width: 100px;
    	height: 20px;
	background: url("buttons/button5.gif");
	background-repeat:no-repeat;
}
.button15:active {
	width: 100px;
    	height: 20px;
	background: url("buttons/button6.gif");
	background-repeat:no-repeat;
}
.button16 {
	width: 217px;
    	height: 18px;
	background: url("buttons/button1D.gif");
	background-repeat:no-repeat;
}
.button16:hover {
	width: 217px;
    	height: 18px;
	background: url("buttons/button1E.gif");
	background-repeat:no-repeat;
}
.button16:active {
	width: 217px;
    	height: 18px;
	background: url("buttons/button1F.gif");
	background-repeat:no-repeat;
}
.button17 {
	width: 206px;
    	height: 18px;
	background: url("buttons/button1A.gif");
	background-repeat:no-repeat;
}
.button17:hover {
	width: 206px;
    	height: 18px;
	background: url("buttons/button1B.gif");
	background-repeat:no-repeat;
}
.button17:active {
	width: 206px;
    	height: 18px;
	background: url("buttons/button1C.gif");
	background-repeat:no-repeat;
}
.button18 {
	width: 103px;
    	height: 18px;
	background: url("buttons/button32.gif");
	background-repeat:no-repeat;
}
.button18:hover {
	width: 103px;
    	height: 18px;
	background: url("buttons/button33.gif");
	background-repeat:no-repeat;
}
.button18:active {
	width: 103px;
    	height: 18px;
	background: url("buttons/button34.gif");
	background-repeat:no-repeat;
}
.button19 {
	width: 219px;
    	height: 18px;
	background: url("buttons/button25.gif");
	background-repeat:no-repeat;
}
.button19:hover {
	width: 219px;
    	height: 18px;
	background: url("buttons/button26.gif");
	background-repeat:no-repeat;
}
.button19:active {
	width: 219px;
    	height: 18px;
	background: url("buttons/button27.gif");
	background-repeat:no-repeat;
}