body{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	background-image:url(background_ripple.gif);
	background-repeat:repeat-x;
    color: #FFFFFF;
    background-color: #041943;
}
a:link {
    color: #99CEFF;
}
a:visited {
    color: #5288E3;
}
a:active {
    color: #00CFFF;
}